/* .section_Trainers, .section_Campers, .section_RoadMap {
    display: none;
} */

.left {
    display: inline;
}

/* .tecnologias {
    display: none;
} */

.skills_review {
    display: none;
}
.ingles_ser {
    display: none;
}